@font-face{font-family: 'Ubuntu', sans-serif;src:url("../font/Ubuntu-RI.ttf");}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    border: solid 1px #969696;
	background: #ecf0f1;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    text-align: center;
    border: solid 1px #C0C0C0;
    border-radius: 4px;
}
.ad-title{
background: #f8f8f8;
}
.right {
    float: right;
}
#navbar .logo img{
	max-width:200px;
}

	.static-image{
		background-color:#fff;
	background-image:url("");
	background-repeat:;
	background-position:;
	background-size:;
	background-attachment:;
	}
.banner-text-one{
	text-align:;
}
.banner-text-one-h3{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:30px;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}
.banner-text-second{
	text-align:;
	margin-top:18px;
}
.banner-text-second-h2{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:Normal;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}
.banner-text-third{
	text-align:;
}
.banner-text-third-h3{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:Normal;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}


.static-image-2{
		background-color:#fff;
	background-image:url("../staticbanner.jpg");
	background-repeat:;
	background-position:;
	background-size:;
	background-attachment:;
	}
	#header{
margin: 0 auto;
}

/*--------------------Start Tab Menu Top----------------------------------*/
ul.tabs.cat-list {
    margin-top: 5px;
	margin-bottom: 0px;
}
#main-category ul.tabs.cat-list li {
    display: inline-block;
    margin-right: 1px;
    box-sizing: border-box;
}
#main-category ul#tabs.tabs.cat-list li a {
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 128px;
    min-height: 80px;
    text-align: center;
    line-height: 18px;
    position: relative;
	border-radius: 0;
	padding:0;
}
#main-category ul#tabs.tabs.cat-list li a:hover, 
#main-category ul#tabs.tabs.cat-list li  a.current,
#main-category ul#tabs.tabs.cat-list li.active a {
    background-color: #fff !important;
}
.blog-sub-categories .menu-list-cate li:before ,.blog-sub-categoriesjob .menu-list-cate li:before {
	content: "\f105";
	font-family: 'FontAwesome';
	left: 0;
	top:0;
    color:green;
}
#main-category ul.tabs.cat-list li a span {
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   left: 50%;
   font-weight: 600;
   padding: 0 1px;
   width: 100%;
   color: #4183d7;
   word-wrap: break-word;
   font-size: 13px;
}
#main-category ul.tabs.cat-list li a span i {
    font-size: 28px;
}
div.subcategory-menu{
   border-top: solid 1px #4183d7;
   background-color: rgba(255, 255, 255, 0.85);
}
div.list-dropdow-category{
	 min-height: 200px;
	 padding: 5px 5px;
}
.banner-right-blog,
.banner-left-blog {
	/*---border-right: 5px #fff solid;--*/
    padding: 10px;
    width: 24%;
    display: inline-block;
	vertical-align: top;
}
.blog-sub-categories-cener{
	padding: 10px;
    width: 50%;
    display: inline-block;
	vertical-align: top;
}
.blog-sub-categories {
	padding: 10px;
    width: 75%;
	display: inline-block;
}
.blog-sub-categoriesjob {
	padding: 10px;
    width: 100%;
	display: inline-block;
}
		/*----blog right menu category list-----------------*/
		ul.menu-list-cate {
			width: 100%;
		}
li.menu-list-cate {
			width: 32%;
			display: inline-block;
			padding: 4px;
}
.blog-sub-categoriesjob li.menu-list-cate {
			width: 24%;
			display: inline-block;
			padding: 4px;
}
		li.menu-list-cate a {
			/* text-transform: uppercase; */
			font-weight: 500;
			color: #4183d7;
			padding: 5px 10px;
			font-family: 'Ubuntu', sans-serif;
		}
		li.menu-list-cate a:hover {
			color: #e2c636;
		}
		/*-----------------------blog right --------------------*/
			/*----------------facebook button login-------*/
					.loginBtn {
					  box-sizing: border-box;
					  position: relative;
					  /* width: 13em;  - apply for fixed size */
					  margin: 0.2em;
					  padding: 0 15px 0 46px;
					  border: none;
					  text-align: left;
					  line-height: 34px;
					  white-space: nowrap;
					  border-radius: 0.2em;
					  font-size: 16px;
					  color: #FFF;
					  width: 100%;
					}
					.loginBtn:before {
					  content: "";
					  box-sizing: border-box;
					  position: absolute;
					  top: 0;
					  left: 0;
					  width: 34px;
					  height: 100%;
					}
					.loginBtn:focus {
					  outline: none;
					}
					.loginBtn:active {
					  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
					}


					/* Facebook */
					.loginBtn--facebook {
					  background-color: #4C69BA;
					  background-image: linear-gradient(#4C69BA, #3B55A0);
					  text-shadow: 0 -1px 0 #354C8C;
					}
					.loginBtn--facebook:before {
					  border-right: #364e92 1px solid;
					  content: "\f09a";
					 font-family: FontAwesome;
					 text-align: center;
					}
					.loginBtn--facebook:hover,
					.loginBtn--facebook:focus {
					  background-color: #5B7BD5;
					  background-image: linear-gradient(#5B7BD5, #4864B1);
					}
					button.loginBtn.loginBtn-normal,
					button.loginBtn.register {
						width: 49%;
						margin: 0.2em 0;
						text-align: center;
						padding: 0;
						 background-image: linear-gradient(#0bb688, #05926c);
					}
					.loginBtn.loginBtn-normal:hover,
					.loginBtn.loginBtn-normal:focus,
					.loginBtn.register:hover,
					.loginBtn.register:focus 					{
					  background-color: #0bb688;
					  background-image: linear-gradient(#18cc9b, #39a26d);
					 
					}
					a.lang img{
						
						width: 50px;
					}
					a.lang.km {
						margin-right: 32px;
					}
					button.loginBtn.loginBtn-postads-free {
						 background-image: linear-gradient(#e62a2a, #b30304);
						text-align: left;
						padding: 0 15px;
					}
					button.loginBtn.loginBtn-postads-free:after {
						content: "\f0fe";
						text-align: right;
						font-family: FontAwesome;
						font-size: 18px;
						padding-left: 10px;
					}
					.loginBtn.loginBtn-postads-free:hover,
					.loginBtn.loginBtn-postads-free:focus 					{
					  background-color: #f61818;
					  background-image: linear-gradient(#f61818, #cc0001);
					}

		/*------------------------End blog right --------------*/
/*--------------------End Tab Menu Top----------------------------------*/

/*--------------------Start Item By Category Home----------------------------------*/
.featured-slider-3 .ad-box{
	width:100% !important;
	padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px #ccc;
}
div.category {
    text-align: left;
}
div.category h4.title {
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 5px solid #0bb688;
}
span.label-show-all {
    text-align: right;
    float: right;
    font-size: 14px;
}
span.label-show-all a {
    color: #0bb688;
}
/*----item box---*/
div.ads-price ,
div.ads-title {
    clear: both;
    padding: 1px 5px;
	display: inline-block;
}
.ads-title {
    width: 65%;
}
div.ads-title h4 {
   padding-top:5px;
   min-height: 55px;
}
div.ads-price h4 ,
div.ads-title h4 {
    white-space: normal;
	line-height: 5px;
    margin: 0;
}
div.ads-title h4  a.ads-title{
	font-size: 13px;
    font-weight: 600;
	color: #0bb688;
	line-height: 18px;
}
div.ads-price {
	text-align: right;
	width: 33%;
    vertical-align: top;
    padding: 10px 0;
}
div.ads-price h4 a.ads-price {
    color: #ffffff;
    line-height: 18px;
    background: #0bb688;
	font-size: 12px;
    padding: 10px 8px;
	width: 100%;
}
div.notify-new {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 15px;
    right: 15px;
    min-width: 75px;
    line-height: 31px;
}
.notify-new.green {
	background: #0bb688;
}
.notify-new.blue {
    background: #0493ca;
}
.notify-new.red {
	background: #f61818;
}
.ads-img-wrapper {
    position: relative;
    overflow: hidden;
}
div.ad-box  .additional-buttons {
    padding: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(255,255,255,.85);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0,60px,0);
    -moz-transform: translate3d(0,60px,0);
    -ms-transform: translate3d(0,60px,0);
    transform: translate3d(0,60px,0);
    z-index: 1;
}
div.ad-box:hover  .additional-buttons {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sold-by-container {
    border-top: 1px solid #a3a3a3;
	margin-bottom: 15px;
	padding-top: 10px;
    width: 100%;
	font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,20px,0);
    -ms-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
span.quickview {
    position: relative;
    padding: 0;
	cursor: pointer;
	color: #0bb688;
    text-transform: none;
    margin: 0 0 0 10px;
    font-size: 15px;
}
span.quickview i {
    color: #0bb688;
    font-size: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sold-by-container a {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.sold-by-container span {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.sold-by-container span {
    color: #6d6c6c;
    text-transform: uppercase;
}
/*--------------------Start Footer----------------------------------*/
.footer-logo {
    text-align: center;
}
footer div.text-description {
    margin-top: 10px;
    text-align: justify;
    font-size: 14px;
}
/*--------------------End Footer----------------------------------*/
/*------Start Register page--------------------*/
span.regis-guid {
    text-align: right;
    float: right;
    font-size: 14px;
}
span.regis-guid  a {
    color: #ffffff;
	line-height: 23px;
}
.header-item.quick-menu {
    font-size: 0;
    text-align: right;
}
dl.language a.lang.km {
    margin-right: 2px;
}
.login-body {
    min-height: 472px;
	padding: 30px 0;
    background: url(../login-background.jpg) 50% 0% no-repeat;
}
.login-title h4 {
    margin: 0;
	text-align: left;
    padding: 10px;
}
.register-login-box {
    width: 490px;
    float: right;
    background-color: #FFF;
}
.formlogin-register {
    padding: 10px;
	margin-bottom: 30px;
	border: solid 1px #ccc;
}
.form-label {
    display: inline-block;
	width: 145px;
   vertical-align: top;
}
.form-value {
    display: inline-block;
    width: 300px;
    padding-left: 15px;
}
.form-value .form-control {
    display: initial;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .075);
}
.form-row.botton {
    text-align: center;
}
.form-row.botton .loginBtn.register {
	display: inline-block;
	width: 40%;
}
.form-row.botton h4 {
    display: inline-block;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}
.form-row.botton .loginBtn--facebook {
    width: 47%;
    display: inline-block;
}
span.regis-guid a:before {
    content: "\f059";
    font-family: FontAwesome;
    padding-right: 5px;
    font-size: 17px;
}
.form-row.botton p a.link {
    font-weight: bold;
    color: #08a379;
}
.form-row.botton p a.link:hover {
    color: #e78345;
}
/*------End Register page--------------------*/
/*------Start Dashboard page--------------------*/
.conten-body {
    display: block;
    text-align: center;
	margin: 20px 0;
}
	.conten-body-center,
	.conten-body-right,
	.conten-body-left {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}
	.conten-body-right {
		float:right;
	}
	.conten-body-left {
		float:left;
	}
	.conten-body-center{
		width:60%;
	}
	.conten-body-center.full{
		width:100%;
	}
	.conten-body-center.right{
		width:80%;
		float:right;
	}
	.conten-body-center.left{
		width:80%;
		float:right;
	}
	.conten-body-right,
	.conten-body-left {
		width:20%;
	}
	

ul.tabs.horizontal li {
    width: 100%;
	border-bottom: solid 4px #fff;
}
ul.tabs.horizontal li a {
    border-radius: 0;
    background: #069770;
	color: #fff;
	text-align: left;
    font-size: 16px;
    font-weight: bold;
}
ul.tabs.horizontal li a i {
    font-size: 18px;
    padding-right: 10px;
}
ul.tabs.horizontal li.active a:hover,
ul.tabs.horizontal li a:hover,
ul.tabs.horizontal li.active a:focus,
ul.tabs.horizontal li a:focus,
ul.tabs.horizontal li.active a {
    background: #fbfbfb;
    color: #0bb688 !important;
}
	/*------Start My ads list Dashboard page--------------------*/
		div.title h4 {
			margin: 0;
			font-weight: bold;
			padding-bottom: 10px;
		}
		div.title-ads h4 a {
			color: #07a178;
			font-weight: 700;
		}
		div.title-ads h4 a:hover {
			color: #e2c636;
		}
		div.title {
			text-align: left;
			padding: 0 10px;
			margin: 0;
			vertical-align: top;
		}
		.blog-wrapper {
			text-align: left;
			padding: 10px;
			margin: 0 10px;
			border: solid 1px #ccc;
		}
		.ads-left {
			vertical-align: top;
			display: inline-block;
			width: 222px;
			border: solid 1px #ccc;
		}
		.ads-description {
			display: inline-block;
			width: 60%;
			margin-left: 15px;
		}
		div.categories-ads h5 a {
			font-size: 14px;
			color: #909090;
			font-style: italic;
		}
		div.categories-ads h5 {
			padding: 10px 0px;
		}
		div.categories-ads h5,
		div.title-ads h4 {
			margin: 0;
		}
		.icon_menu-right {
			display: inline-block;
			vertical-align: top;
			float: right;
		}
		ul.icon_menu li {
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
		ul.icon_menu li a {
			position: relative;
			display: block;
			padding: 8px 20px;
			text-align: center;
			color: #545353;
			background: rgba(249, 246, 246, 0.6);
			border: solid 1px #ccc;
		}
		ul.icon_menu li a:hover {
			background: rgba(232, 232, 255, 1);
			color: #adadad;
		}
		/*li.delete_icon a {
			background: #cc1617;
		}
		li.edit_icon a {
			background: #3e58a4;
		}
		li.renew_icon a {
			background: #07a178;
		}*/
		.footer-ads span.value {
			font-weight: bold;
		}
		.footer-ads span i {
			padding: 0 10px;
		}
	/*------End My ads list Dashboard page--------------------*/
/*------End Dashboard page--------------------*/
.row_data {
    padding: 10px;
}
div.label_value,
div.label_name {
    display: inline-block;
	vertical-align: top;
}
.label_value {
    width: 70%;
}
div.label_name {
    min-width: 150px;
	margin-right: 20px;
}
.row_data label{
	color:#606060;
	font-size: 12px;
}
.row_data label span.right {
    float: right;
}
.row_data label.label {
    font-size: 12px;
    text-align: left;
	white-space: normal;
}

.data-info {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.account-image {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    background: #F9F9F6;
    min-height: 200px;
    margin: 0 10px;
	padding: 10px;
	border: solid 1px #eee;
}
.image-box {
    display: inherit;
    position: relative;
}
.image-box img {
    width: 150px;
    border-radius: 60%;
    height: 150px;
    margin-top: 10px;
	border: solid 1px #eee;
}

.button_browse {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38px;
    background: #fbf9f9;
    border: 1px solid #e8e8e8;
}
.button_browse span {
    line-height: 33px;
    font-weight: 600;
    cursor: pointer;
}
input.btn_borwse_image {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.profile-info .data-info div.title h4 {
	border-bottom: solid #069770 1px;
}
a.button {
    vertical-align: top;
    display: block;
    padding: 6px 20px;
    text-align: center;
    color: #545353;
    background: rgba(249, 246, 246, 0.6);
    border: solid 1px #ccc;
    font-size: 12px;
	cursor: pointer;
}

/*--------------------- Form  Popup----------------------------*/
.pop-acc-info,
.pop-addtional {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pop-acc-info_content,
.pop-addtional_content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
/*----@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
} ----*/

/* The Close Button */
.close {
   color: #d10505;
	float: right;
	font-size: 19px;
	font-weight: bold;
	opacity: 1;
	line-height: 15px;
}
.pop-addtional_header,
.pop-acc-info_header{
	padding: 10px 16px;
	background-color: #F9F9F6;
	color: #605f5f;
	vertical-align: top;
	border-bottom: solid 1px #ccc;
}
.pop-addtional_body,
.pop-acc-info_body {
    padding: 10px;
}
.pop-addtional_header h2,
.pop-acc-info_header h2 {
    text-align: center;
	margin: 0;
	font-size: 16px;
}
.form-control.custom {
    padding: 5px 10px;
    height: 40px;
    margin-bottom: 0px;
}

/*--.cancel_save_chage_footer,
.make_save_chage_footer {
   padding: 10px 16px;
    background-color: #666666;
    color: white;
}--*/
/*-----------------------End Form  Popup-----------------------------------------------*/

/*---------form post ads---------------*/
.alert.message {
    padding: 10px;
    background-color: #f4433699;
    color: white;
    display: none;
}
.closebtn {
    margin-left: 0px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 14px;
    line-height: 0;
    cursor: pointer;
    transition: 0.7s;
}
.closebtn:hover {
    color: black;
}
.form-post-ads {
    text-align: left;
    padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-post-ads .form-row {
   margin-bottom: 10px;
}
.form-post-ads .form-row .form-value{
   width: 350px;
}
.form-post-ads .form-row {
}
.form-value .chosen-container {
    width: 100% !important;
	background: none;
	text-align: left;
	border-left: 1px solid #e1e1e1;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .075);
}
.form-value .chosen-container .chosen-single{
	height: 35px;
	color: #cccccc;
}
.form-value .chosen-container-single .chosen-single div {
    height: 40px;
    width: 30px;
    border-left: 1px solid #eee;
    background: rgba(244,244,244, .2);
}
.form-value .chosen-container .chosen-single b{
	background-repeat: no-repeat;
	background-position: 1px 4px !important;
	background-color: #ecebea;
	position: relative;
}
.form-value .chosen-container .chosen-single b::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    position: absolute;
    top: 56%;
    left: 56%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: #898282;
    font-size: 11px;
}
.form-value .chosen-container-active.chosen-with-drop .chosen-single div b{
	background-color:#fff;
}
.form-value  .chosen-container-active.chosen-with-drop .chosen-single div b:after{
    color: #ddd;	
}
.form-value textarea.form-control.textareadesc {
    width: 100%;
    max-width: 332px;
    max-height: 230px;
	min-width: 332px;
	min-height: 230px;
    overflow-y: auto;
    height: 230px;
}
/*------------blog image softable----------------*/
	.connected, .sortable, .exclude, .handles {
			margin: auto;
			padding: 0;
			width: 100%;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.sortable.grid {
			overflow: hidden;
		}

		.sortable.grid li {
			line-height: 80px;
			float: left;
			width: 100px;
			height: 100px;
			text-align: center;
		}
		li.highlight {
			background: #FEE25F;
		}
		.connected li, .sortable li, .exclude li, .handles li {
			list-style: none;
			border: 1px solid #CCC;
			background: #F6F6F6;
			font-family: "Tahoma";
			color: #1C94C4;
			margin: 5px;
			height: 22px;
		}
			/*----image upload-*/
			.uploader {position:relative; overflow:hidden; width: 100%;  height: 100%;
			background:#e8e8e8;
			}
			
			.filephoto{
			    position:absolute;
				width: 100%;
			    height: 100%;
			    
			    left:0;
			    z-index:2;
			    opacity:0;
			    cursor:pointer;
			}
			
			.uploader img{
			    position:absolute;
			  	width: 100%;
			    height: 100%;
			  	top: 0;
				left: 0;
			    z-index:1;
			    border:none;
			}
	/*------------End blog image softable----------------*/
/*-------------Page Choose Category-----------------------*/
.choose-category-blog {
   text-align: left;
}
.main-category-blog {
    width: 370px;
    margin-left: 15px;
    display: inline-block;
}
.sub-categories-blog {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
div.main-category-blog ul.tabs.horizontal{
	border-right: 1px solid #EAEAEA;
	padding: 1px;
	border-bottom: none;
}
div.main-category-blog ul.tabs.horizontal li{
	padding-right: 60px;
	margin-right: -1px;
	width: 101%;
	border: none;
}
div.main-category-blog ul.tabs.horizontal li.active{
	
	background-image: url("../rectangle.png");
background-position: right center;
background-repeat: no-repeat;
}
/*--div.main-category-blog ul.tabs.horizontal li.active a::after {
    content: "";
    position: absolute;
    left: 88%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 24px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #fff;
}*/
div.main-category-blog ul.tabs.horizontal li.active a:hover, 
div.main-category-blog ul.tabs.horizontal li a:hover, 
div.main-category-blog ul.tabs.horizontal li.active a:focus, 
div.main-category-blog ul.tabs.horizontal li a:focus, 
div.main-category-blog ul.tabs.horizontal li.active a{
	background: none;
	color: #686666 !important;
}
div.main-category-blog ul.tabs.horizontal li a{
	border-radius: 0;
	color: #686666;
	text-align: left;
	font-size: 16px;
	border:none;
	background: none;
	border-bottom: solid 1px #EAEAEA;
	font-weight: 400;
}
.sub-categories-list {
    height: 450px;
    overflow-y: auto;
}
ul.sub-cate {
    width: 80%;
	padding-left: 20px;
}
li.cate-list {
    position: relative;
    border-bottom: solid 1px #fff;
}
li.cate-list a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #686666;
	border-bottom: solid 1px #EAEAEA;
}
h4.title-content {
    margin: 0;
    text-align: left;
    padding: 15px 0;
}
h4 span.number_list {
    background: #319978;
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 24px;
	margin-right: 10px;
}
.conten-body-center.right.post-ads {
    border-left: solid 1px #ccc;
}
/*------------progress bar-----------*/
ul.SteppedProgress{counter-reset:step;display:flex;margin:auto;overflow:hidden;padding:0;position:relative;text-align:center;z-index:1}
.SteppedProgress li{list-style-type:none;color:#404140;line-height:normal;font-size:18px;position:relative;padding:0 2%}
.SteppedProgress li.boxed span,.SteppedProgress li.current span{
	background:silver;border:1px solid silver;color:#fff;
	display:inline-block;padding: 14px 6px;position:relative;
	margin:0px -6px;width:100%
}
.SteppedProgress li.boxed span:after,.SteppedProgress li.current span:after{bottom:100%;left:50%;
	border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;
	border-color:rgba(255,255,255,0);border-bottom-color:silver;border-width:10px;margin-left:-10px;
}
.SteppedProgress li.current span{background:#de384f;color:#FFF}
.SteppedProgress li.current span:after{border-bottom-color:#de384f}

.SteppedProgress li.complete.boxed span{background:#319978;color:#FFF}
.SteppedProgress li.complete.current::before {
    background: #de384f;
}
.SteppedProgress li.complete.boxed span:after{border-bottom-color:#319978}

.SteppedProgress li:before{content:counter(step);counter-increment:step;width:30px;line-height:30px;display:block;
	font-size:16px;color:#FFF;background:silver;border-radius:15px;
	margin:0 auto 25px 10px;position:relative;z-index:1
}
.SteppedProgress li:after{content:'';width:100%;height:6px;background:silver;position:absolute;left:-50%;top:15px;z-index:-1}
.SteppedProgress li:first-child:after{content:none}
.SteppedProgress li.complete:before{background:#319978;color:white}
.SteppedProgress li.complete:after{background:#319978}
ul.SteppedProgress.Vertical{display:block}
.SteppedProgress.Vertical li{flex:none;clear:both;text-align:left;padding:0;margin-left:0;min-height:2.2em}
.SteppedProgress.Vertical li span{white-space:nowrap;width: 80%; text-align: center;}
ul.SteppedProgress.Vertical li:before{float:none;display:inline-block;margin-right:10px;text-align:center;margin-left:0}
.SteppedProgress.Vertical li:after{content:'';width:6px;height:100%;position:absolute;left:12px;top:-50%;z-index:-1}
ul.SteppedProgress.Vertical li.boxed,ul.SteppedProgress.Vertical li.current{min-width:90%}
ul.SteppedProgress.Vertical li.boxed span,ul.SteppedProgress.Vertical li.current span{display: inline-block;margin-left:0}
ul.SteppedProgress.Vertical li.boxed span:after,ul.SteppedProgress.Vertical li.current span:after{bottom:auto;left:auto;right:100%;top: 16px;border-color:rgba(255,255,255,0);border-right-color:silver;margin:0}
ul.SteppedProgress.Vertical li.current span:after{border-right-color:#de384f}
ul.SteppedProgress.Vertical li.complete.boxed span:after{border-color:rgba(255,255,255,0);border-right-color:#319978}
