.ad-title{
background: #f8f8f8;
}
.right {
    float: right;
}
#navbar .logo img{
	max-width:200px;
}
h3,.detail-cat a,.text-up-line { color: #444444; } 
a, #navbar .main_menu .menu li.current_page_item .sub-menu a:hover, 
#navbar .main_menu .menu li.current_page_item .children a:hover, 
#navbar .main_menu .menu li.current-menu-item  .children a:hover, 
.main_menu ul li ul.children li a:hover, 
.main_menu ul li ul.sub-menu li a:hover, 
.main_menu ul li ul.children li.current_page_item a, 
.main_menu ul li ul.children li.current-menu-item a, 
.main_menu .menu li.current_page_item .sub-menu a:hover, 
.main_menu .menu li.current-menu-item  .sub-menu a:hover, 
.main_menu .menu li.current_page_item .children a:hover, 
.main_menu .menu li.current-menu-item  .children a:hover, 
ul.custom-tabs li a.current, h4.trigger:hover, 
h4.trigger.active:hover, h4.trigger.active,
#navbar .main_menu .menu li .sub-menu li.current_page_item a, 
#navbar .main_menu .menu li .children li.current_page_item a, 
#navbar .main_menu .menu li .children li.current_page_item a:hover, 
#navbar .main_menu .menu li .children li .current-menu-item a:hover,
.callout-section-version-2 .callout .more-btn-inner a span { color: #666666; } 
.quicktabs-tabs .grid-feat-ad-style a:hover, 
.quicktabs-tabs .list-feat-ad-style a:hover, 
.quicktabs-tabs .grid-feat-ad-style a.current, 
.quicktabs-tabs .list-feat-ad-style a.current { background-color: #666666; } 
.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img, .woocommerce #content div.product div.images a:hover img, .woocommerce div.product div.images a:hover img, .woocommerce-page #content div.product div.images a:hover img, .woocommerce-page div.product div.images a:hover img { border: 5px solid #666666; } #contact-form #contactName:focus, #contact-form #author:focus, #contact-form #email:focus, #contact-form #url:focus, #contact-form #subject:focus, #contact-form #commentsText:focus, #contact-form #humanTest:focus { border: 1px solid #666666; } .my-ad-details span a:hover,.my-ad-details span.my-ad-a:hover i,.my-ad-details a.my-ad-title:hover,.my-ad-details span a:hover,.main_menu > ul > li.current-menu-item > a,body.category .custom-widget .cat-widget-content li:hover span,body.category .custom-widget .cat-widget-content ul li:hover a,.custom-cat-widget .custom-widget .cat-widget-content li:hover span,.custom-cat-widget .custom-widget .cat-widget-content ul li:hover a,.marker-info-price,.site-info a,.ads-tags a:hover,.category-content li:hover a,.categories-homepage-vr-2 .category-content ul li a.view-all,.category-content li:hover span,.geo-location-button .on .fa, .geo-location-button .fa:hover,footer .jw-twitter li a,.publish-ad-button.login-page p a, a:hover, a:active, .main_menu > ul >  li:hover > a, .main_menu .menu li.current_page_item > a, .main_menu .menu li.current-menu-item > a, .main_menu ul li ul.children li:hover a, .main_menu ul li ul.sub-menu li:hover a,.text-bt-line,.plan-vr-3.single-plan #submit-plan,.color-default p:last-word,.plan-vr-3.single-plan #submit-plan,.menu-vr-5 a:active,.menu-vr-5 a:hover,.menu-vr-5 a:focus a { color: #0bb688 ; } .cat-widget-content ul li .widget-ad-list-content a:hover,.input-submit:hover,#register-login-block-top ul li a:hover i,.header-v3 .login-register > a:hover i,#top-menu-block.header-v2 #register-login-block-top ul li a:hover,#top-menu-block.header-v2 #register-login-block-top ul li a:hover i,.top-social  i:hover,.author-details a,.author-meta a,#ad-address span .fa,.single-share a i:hover,.ad-box:hover .post-title-cat a,.callout-desc p span,section#locations .location a:hover,section#locations .location a:hover i,.ad-title a:hover,.top-email,.custom-cat-widget .custom-widget .cat-widget-content ul li:hover i,footer .block-content .menu-footer-container ul li a:hover, #register-login-block-top li a:hover,body.category .custom-widget .cat-widget-content li:hover .category-icon-box i,.search-bar-version3 .geo-location-button .off .fa,#ads-homepage.grid-vr-3  ul.tabs li a:hover,#ads-homepage.grid-vr-3  ul.tabs li.active a,#ads-homepage.grid-vr-3  ul.tabs li:hover a,#ads-homepage.listing-ads-vr-2  ul.tabs li a:hover,#ads-homepage.listing-ads-vr-2  ul.tabs li.active a,#ads-homepage.grid-vr-3  .view-types li.activate a i,#ads-homepage.grid-vr-3 .post-title-cat .post-title a.feat-category,.categories-homepage-vr-3 .category-title-v3 a h4:hover,.section-header-style-2  .main-title-bottom-icon i, footer .block-title,.search-bar-version2 .geo-location-button .on .fa,.site-info a,.header-v4 .header-contact-info .header-top-call .contact-text .text-bt-line,.header-v4 .header-contact-info .header-top-email .contact-text .text-bt-line,.categories-homepage-vr-2 .category-content ul li a.view-all,.categories-homepage-vr-2 .category-content ul li a:hover,.header-v5 .main_menu a:hover,.search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,.search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover i,.menu-vr-5 li a:active,.menu-vr-5 li a:hover,.menu-vr-5 li a:focus,#ads-homepage.listing-ads-vr-2  .view-types li.activate a i,.comments-header h3,.comment-reply a:hover,
.single-description p a:hover,
footer .jw-twitter ul li span a,
.menu-vr-6.main_menu .menu li > a:hover,
.menu-vr-6.main_menu ul li:hover > a,
.banner-cat-list li a span,
.banner-cat-list li a span i,
.menu-vr-6.main_menu .menu li.current-menu-item > a,
.menu-vr-5.main_menu .menu li.current_page_item > a,
.mark-featured i{ color: #0bb688 !important; } 
.page-template-template-profile-php .my-ad-box .my-ad-a:hover,
.menu-v4,.header-top-bar,.header-v4 .header-contact-info .icon-head i,
.widget-social a i:hover,.popular-title,.single-plan #submit-plan:hover,
.plan-vr-3.single-plan.span4:hover #submit-plan,
.plans .plan-vr-3.single-plan.span4:nth-child(2) #submit-plan,
#ads-homepage ul.tabs li a:hover,#ads-homepage ul.tabs li.active a, #ads-homepage ul.tabs li a.current,
.category-box:hover .category-btn,
.ad-box .add-price,.featured-slider-2 .ad-box .add-price span,
#ads-homepage.grid-vr-3  .ad-box .add-price span,.ui-slider-horizontal .ui-slider-handle,
.ui-slider-horizontal .ui-slider-range-min,.search-your-keyword-txt label,
.search-bar-version2 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,
.listing-ads .read-more-btn-inner:hover,.callout .view-more-btn:hover .more-btn-inner, 
#contact-ad-owner .close,.backtop:hover,.author-profile-ad-details .button-ag:hover,
h4.trigger.active,.login-title,.single-slider .single-ad-price,.bottom-social-icons i:hover,
.detail-cat .category-icon .category-icon-box,.view-more-btn:hover .more-btn-inner,
.h2-seprator,.h3-seprator,.h3-seprator-sidebar,
.tagcloud a:hover, .pagination span.current,.pagination a:hover,
#advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,
.search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,.top-social-icons a:hover,
.search-bar-version3 .geo-location-button .on .fa,#ads-homepage.grid-vr-2  .view-types li.activate a i,.price-pro-cont,
.location-version-2 .span3 a i,#uploadTrigger.imagesbutton:hover,
.hvr-underline-from-center:before,.sticky li i,#ads-homepage .view-types li.activate a i,
.bog-date-box,.map-box-style-2 .marker-info-holder .add-price span,
.search-bar-version4 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,
.subscribe_email #wp-subscribe input.submit,footer .wpcf7-form p .wpcf7-submit,
.plan-vr-3.single-plan:hover #submit-plan,.imageupload:hover,
.imageupload:focus 		{ background-color: #0bb688 !important; } 
.log-forms input#edit-submit:hover,.page-template-template-contact-php .input-submit:hover,
.listing-ads .read-more-btn-inner:hover,#edit-submit:hover,.log-forms #edit-submit:hover,
.menu-v3 ul li ul.children, .menu-v3 ul li ul.sub-menu,.menu-v3 li:hover a,.menu-v4 ul li ul.children, .menu-v4 ul li ul.sub-menu,
.author-btn .button-ag:hover,.ad-title .ad-page-price a,
section#locations .location .span3:hover,.main_menu > ul > li.current-menu-item > a,
blockquote,.main_menu ul li ul.children li:first-child, .main_menu ul li ul.sub-menu li:first-child,
.tagcloud a:hover,.main_menu > ul > li > a:hover,
#register-login-block-top .login a:hover,
.pagination span.current,.pagination a:hover,
#carousel-prev:hover,#carousel-next:hover, 
#advanced-search-widget-version2 .views-exposed-widget 
.btn-primary:hover,.plan-vr-3.single-plan #submit-plan,
.partners-logo-style-2#partners .partner-logo:hover,
.backtop.backtop-effect-2 a:hover,.callout .view-more-btn:hover .more-btn-inner,
.comments-header h3,
.subscribe_email #wp-subscribe input.submit,footer .wpcf7-form p .wpcf7-submit{ border-color:#0bb688 !important; } 
.pacman{ border-top-color:#0bb688 !important; } 
.pacman{ border-bottom-color:#0bb688 !important; } 
.pacman{ border-left-color:#0bb688 !important; } 
#ads-homepage.listing-ads-vr-2 .ad-box .add-price span{ background-color:#0bb688 !important; } 
.marker-info-link a,#new-post a.btn, input[type='submit'], 
.woocommerce span.onsale, .woocommerce-page span.onsale, 
.products li a.button, 
.woocommerce div.product form.cart .button, 
.woocommerce-page div.product form.cart .button, 
.woocommerce #content div.product form.cart .button,
 .woocommerce-page #content div.product form.cart .button, 
 .woocommerce button.button, .woocommerce-page button.button,
 .woocommerce input.button, .woocommerce-page input.button, 
 .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, 
 .woocommerce #content input.button, .woocommerce-page #content input.button,
 #top-cart .button, form.cart .button-alt, .woocommerce #content input.button, 
 .woocommerce #respond input#submit, .woocommerce a.button, 
 .woocommerce button.button, 
 .woocommerce input.button, .woocommerce-page #content input.button, 
 .woocommerce-page #respond input#submit, .woocommerce-page a.button, 
 .woocommerce-page button.button, .woocommerce-page input.button, 
 .bbp-submit-wrapper button.button, .woocommerce .quantity .minus, 
 .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, 
 .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, 
 .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, 
 .woocommerce-page #content .quantity .plus, form.cart .plus, form.cart .minus, 
 .product-quantity .plus, .product-quantity .minus, .woocommerce .quantity input.qty, 
 .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, 
 .woocommerce-page #content .quantity input.qty, form.cart input.qty, form.cart input.qty, 
 .product-quantity input.qty, .pricing-plans a.btn, 
 #edit-submit, 
 #navbar .btn-navbar { background: #f8f8f8!important; }  
 .woocommerce ul.products li.product .price, 
 .woocommerce-page ul.products li.product .price { color: #f8f8f8; }
 .ads-tags a:hosver { background: #ecf0f1!important; color: #f8f8f8!important; } 
 .marker-info-link a:hover,#new-post a.btn:hover, input[type='submit']:hover, .products li a.button:hover, 
 .woocommerce div.product form.cart .button:hover, 
 .woocommerce-page div.product form.cart .button:hover,
 .woocommerce #content div.product form.cart .button:hover, 
 .woocommerce-page #content div.product form.cart .button:hover,
 .woocommerce button.button:hover, .woocommerce-page button.button:hover,
 .woocommerce input.button:hover, .woocommerce-page input.button:hover, 
 .woocommerce #respond input#submit:hover, 
 .woocommerce-page #respond input#submit:hover, 
 .woocommerce #content input.button:hover, 
 .woocommerce-page #content input.button:hover, #top-cart .button:hover, 
 form.cart .button-alt:hover, .woocommerce #content input.button:hover, 
 .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, 
 .woocommerce button.button:hover, .woocommerce input.button:hover, 
 .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, 
 .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, 
 .bbp-submit-wrapper button.button:hover, 
 .woocommerce .quantity .minus:hover, 
 .woocommerce-page .quantity .minus:hover, 
 .woocommerce #content .quantity .minus:hover,
 .woocommerce-page #content .quantity .minus:hover,
 .woocommerce .quantity .plus:hover, 
 .woocommerce-page .quantity .plus:hover, 
 .woocommerce #content .quantity .plus:hover, 
 .woocommerce-page #content .quantity .plus:hover, 
 form.cart .plus:hover, form.cart .minus:hover, 
 .product-quantity .plus:hover, .product-quantity .minus:hover, 
 .pricing-plans a.btn:hover, #edit-submit:hover, 
 #navbar .btn-navbar:hover { background: #0bb688!important; } 				
 .footer-menu #menu-footer li a{	
	color: #999999;
	}
		.plan-vr-3.single-plan #submit-plan{
		color:#0bb688;
	}
	.plans .plan-vr-3.single-plan.span4:nth-child(2) #submit-plan{
		color:#fff;
	}
				.more-btn-inner{
				border-radius:0px !important;
				-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
				box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2);
				border:1px solid #0bb688 !important;
				background-color:#0bb688 !important;
			}
			.listing-ads .read-more-btn-inner,.form-submit .submit{
				border-radius:0px !important;
				box-shadow:none !important;
				border:1px solid #eee;
			}
			.listing-ads .read-more-btn-inner:hover,.form-submit .submit:hover{
					border:1px solid #0bb688;
					background-color:#0bb688;
			}
			.blog-btn{
				border-radius:0px;
			}
			.blog-btn:hover{
				background-color:#0bb688;
				box-shadow: 0px 3px 0px 0px #0bb688;
				border-color:#0bb688 !important;
			}
			.plan-vr-2.single-plan:hover #submit-plan{
				border:1px solid #0bb688 !important;
				background-color:#0bb688 !important;
			}
			.log-forms #edit-submit,a.register-social-button-facebook,a.register-social-button-twitter{
				border-radius:0px !important;
			}
			#edit-submit{
				border-radius: 8px;
				box-shadow:none !important;
				border-bottom-width: 3px !important;
			}
			.input-textarea:focus{
				box-shadow:inset 1px 1px 0px 0px #eee !important;
			}
			.callout .more-btn-inner{
				border:1px solid #0bb688 !important;
				background-color:#0bb688 !important;
			}
			.more-btn-inner:hover{
					border:1px solid #0bb688 !important;
			}
			footer .wpcf7-form p .wpcf7-submit{
				border-wdith:1px !important;
				border-style:solid !important;
				border-radius:0px;
			}
			.more-btn-inner span{
				color:#fff;
			}
			.more-btn-inner a i{
				float: left;
				width: 48px;
				height: 48px;
				line-height: 48px;
				background: rgba(0, 0, 0, 0.2);
				text-align: center;
				margin-left:0px;
				margin-right:0px;
				color:#fff;
							
			}
			.callout-section-version-3 .more-btn-inner{
				background-color:#fff;
			}
			.input-submit,.comment-respond textarea,.comment-respond input{
				border-radius:0px !important;
				box-shadow:none !important;
			}
			#edit-submit,
			.imageupload{
				border-radius: 0px;
				box-shadow:none !important;
				border-bottom-width: 1px !important;
			}
			#uploadTrigger,.tagcloud a,.input-textarea,#video,#upload-ad select#catID, #upload-ad select#post_location,.button-ag.green,#commentsText{
				border-bottom-width: 1px !important;
				box-shadow:none !important;
				border-radius: 0px !important;
			}
			#uploadTrigger.imagesbutton:hover{
				background-color:#0bb688 !important;
				color:#fff;
			}
			.widget-social a i{
				color:#333;
				background-color:transparent;
			}
			.widget-social a i:hover{
				color:#fff;
			}
			.cat-widget-content ul li span{
				margin-right:30px;
				float:right;
			}
			#ads-homepage ul.tabs li{
				border-radius:0px;
				box-shadow: none !important;
			}
			#ads-homepage ul.tabs li:first-child > a{
				border-radius:0px;
			}
			#ads-homepage .view-types li:first-child a i,#ads-homepage .view-types li:last-child a i{
				border-radius:0px;
				box-shadow: none !important;
			}
			.single-plan #submit-plan{
				border-radius:0px !important;
			}
			
			.bottom-social-icons a .fa:hover {
				color: #fff !important;
			}
			
			.selectOption-box select,
			.form-s-select .chosen-container-single .chosen-single,
			.form-s-select .chosen-container{
				border-radius: 0px !important;
			}
			#add-btn,
			#ads-homepage ul.tabs li a,
			#ads-homepage.grid-vr-2 ul.tabs li{
				border-radius: 0px;
			}
		 
	 .make-new-ad{
		 background-color:#0bb688 !important;
		 border-color:#0bb688 !important;
	 }
		 
	 .make-new-ad:hover,
	 .header-v6-login-register .register-btn:hover{
		 background-color:#369673 !important;
		 border-color:#369673 !important;
	 }
		 
	 .make-new-ad a,.make-new-ad i{
		 color:#ffffff !important;
	 }
		 
	 .make-new-ad:hover a,.make-new-ad:hover i{
		 color:#ffffff !important;
	 }
			 
		footer .container.footer-grid-3 {
			padding-top: 68px !important;
			padding-bottom: 63px !important;
		}
		footer .jw-twitter{
			margin-top: 25px;
		}
		footer .jw-twitter .category-icon-box{
			background-color:transparent !important;
		}
		
		footer .jw-twitter .category-icon-box i{
			color:#999 !important;
			font-size: 24px;
			line-height: 19px;
		}
		.footer-grid-3 h4.block-title{
			text-transform:uppercase;
		}
		footer .container.footer-grid-3 .full{
			margin-left:-15px;
			margin-right:-15px;
			width:auto !important;
		}
		footer .container.footer-grid-3 .full .span3{
			padding-left:15px;
			padding-right:15px;
			margin-left:0px;
		}
		footer .container.footer-grid-3 .full .span3 .textwidget p{
			line-height:24px;
		}
		footer .jw-twitter ul li {
			border-bottom:1px solid rgba(255,255,255,0.30);
		}
		footer .jw-twitter ul li:last-child {
			border-bottom:0px;
		}
		footer .jw-twitter ul li span{
			width:85%;
		}
		footer .jw-twitter ul li span a{
			color:#0bb688 !important;
		}
		.footer-menu #menu-footer li a{
			text-transform:uppercase;
		}
		.site-info{
			font-weight:bold;
			padding: 28px 0;
		}
		.backtop{
			bottom:80px;
			height:48px;
		}
		.footer-menu 	{
				padding:28px 0;
		}
		footer .widget-ad-list-content{
			display:none;
		}
		footer .jw-recent-list-posts-widget .widget-ad-list-content{
			display:block;
		}
		.jw-recent-posts-widget .widget-ad-list{
			width:auto;
			padding-bottom:0px;    
			margin-right: 10px !important;
		}
		.latestads-widget .widget-ad-image{
			width:80px;
			height:70px;
			height:auto;
		}
		.footer-style-4{
			border-top:4px solid #0bb688;
		}
		.footer-style-4 h4.block-title{
			color:#333 !important;
		}
		
		footer.footer-style-4 .wpcf7-form input::-webkit-input-placeholder { 
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form input::-moz-placeholder {
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form input:-ms-input-placeholder {
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form input:-moz-placeholder { 
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form textarea::-webkit-input-placeholder { 
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form textarea::-moz-placeholder {
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form textarea:-ms-input-placeholder {
		  color: #cccccc !important;
		}
		footer.footer-style-4 .wpcf7-form textarea:-moz-placeholder { 
		  color: #cccccc !important;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			.backtop {
				bottom: 104px;
			}
		}
		
	 
		footer .footer-grid-3 .block-content div,.jw-recent-list-posts-widget  .widget-ad-list-content .widget-ad-list-content-title a {
			color:#999999 !important;
		}
		.bottom-social-icons a .fa:hover, footer .jw-twitter ul li span{
			color:#999999 !important;
		}
		footer.footer-style-4 .jw-twitter .category-icon-box i{
			color:#0bb688 !important;
		}
		footer.footer-style-4 .jw-twitter ul li {
			border-bottom: 1px solid #eeeeee;
		}
		footer.footer-style-4  .footer-social-widget{
			border-top: 1px solid #eeeeee;
		}
		footer.footer-style-4 .wpcf7-form input, 
		footer.footer-style-4 .wpcf7-form textarea, 
		footer.footer-style-4 .wpcf7-form .uneditable-input{
			background-color: #FFFFFF;
			color: #cccccc !important;
			border: 1px solid #eee !important;
			width: 100%;
		}
		footer.footer-style-4 .wpcf7-form p .wpcf7-submit{
			color: #fff !important;
		}
	.static-image{
		background-color:#fff;
	background-image:url("");
	background-repeat:;
	background-position:;
	background-size:;
	background-attachment:;
	}
.banner-text-one{
	text-align:;
}
.banner-text-one-h3{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:30px;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}
.banner-text-second{
	text-align:;
	margin-top:18px;
}
.banner-text-second-h2{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:Normal;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}
.banner-text-third{
	text-align:;
}
.banner-text-third-h3{
	background-color:#ffffff;
	color:#dd9933;
	font-weight:Normal;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	line-height:;
	letter-spacing:;
	padding-top:1px;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:2px;
}


.static-image-2{
		background-color:#fff;
	background-image:url("../staticbanner.jpg");
	background-repeat:;
	background-position:;
	background-size:;
	background-attachment:;
	}
	#header{
margin: 0 auto;
}

/*--------------------Start Tab Menu Top----------------------------------*/
ul.tabs.cat-list {
    margin-top: 5px;
	margin-bottom: 0px;
}
#main-category ul.tabs.cat-list li {
    display: inline-block;
    margin-right: 2px;
    box-sizing: border-box;
}
#main-category ul#tabs.tabs.cat-list li a {
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 128px;
    min-height: 80px;
    text-align: center;
    line-height: 18px;
    position: relative;
	border-radius: 0;
	padding:0;
}
#main-category ul#tabs.tabs.cat-list li a:hover, 
#main-category ul#tabs.tabs.cat-list li  a.current,
#main-category ul#tabs.tabs.cat-list li.active a {
    background-color: #fff !important;
}
#main-category ul.tabs.cat-list li a span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    font-weight: bold;
    padding: 0 5px;
    width: 100%;
    color: #0bb688;
    word-wrap: break-word;
    font-size: 14px;
}
#main-category ul.tabs.cat-list li a span i {
    font-size: 28px;
}
div.subcategory-menu{
   border-top: solid 1px #0bb688;
    background-color: rgba(255, 255, 255, 0.8);
}
div.list-dropdow-category{
	 min-height: 200px;
	 padding: 5px 5px;
}
.banner-right-blog,
.banner-left-blog {
	/*---border-right: 5px #fff solid;--*/
    padding: 10px;
    width: 24%;
    display: inline-block;
	vertical-align: top;
}
.blog-sub-categories-cener{
	padding: 10px;
    width: 50%;
    display: inline-block;
	vertical-align: top;
}
.blog-sub-categories {
	padding: 10px;
    width: 75%;
	display: inline-block;
}		
		/*----blog right menu category list-----------------*/
		ul.menu-list-cate {
			width: 100%;
		}
		li.menu-list-cate {
			width: 32%;
			display: inline-block;
			padding: 4px;
		}
		li.menu-list-cate a {
			/* text-transform: uppercase; */
			font-weight: 800;
			color: #0bb688;
			padding: 5px 10px;
		}
		li.menu-list-cate a:hover {
			color: #e2c636;
		}
		/*-----------------------blog right --------------------*/
			/*----------------facebook button login-------*/
					.loginBtn {
					  box-sizing: border-box;
					  position: relative;
					  /* width: 13em;  - apply for fixed size */
					  margin: 0.2em;
					  padding: 0 15px 0 46px;
					  border: none;
					  text-align: left;
					  line-height: 34px;
					  white-space: nowrap;
					  border-radius: 0.2em;
					  font-size: 16px;
					  color: #FFF;
					  width: 100%;
					}
					.loginBtn:before {
					  content: "";
					  box-sizing: border-box;
					  position: absolute;
					  top: 0;
					  left: 0;
					  width: 34px;
					  height: 100%;
					}
					.loginBtn:focus {
					  outline: none;
					}
					.loginBtn:active {
					  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
					}


					/* Facebook */
					.loginBtn--facebook {
					  background-color: #4C69BA;
					  background-image: linear-gradient(#4C69BA, #3B55A0);
					  text-shadow: 0 -1px 0 #354C8C;
					}
					.loginBtn--facebook:before {
					  border-right: #364e92 1px solid;
					  content: "\f09a";
					 font-family: FontAwesome;
					 text-align: center;
					}
					.loginBtn--facebook:hover,
					.loginBtn--facebook:focus {
					  background-color: #5B7BD5;
					  background-image: linear-gradient(#5B7BD5, #4864B1);
					}
					button.loginBtn.loginBtn-normal,
					button.loginBtn.register {
						width: 49%;
						margin: 0.2em 0;
						text-align: center;
						padding: 0;
						 background-image: linear-gradient(#0bb688, #05926c);
					}
					.loginBtn.loginBtn-normal:hover,
					.loginBtn.loginBtn-normal:focus,
					.loginBtn.register:hover,
					.loginBtn.register:focus 					{
					  background-color: #0bb688;
					  background-image: linear-gradient(#18cc9b, #39a26d);
					 
					}
					a.lang img{
						
						width: 50px;
					}
					a.lang.km {
						margin-right: 32px;
					}
					button.loginBtn.loginBtn-postads-free {
						 background-image: linear-gradient(#e62a2a, #b30304);
						text-align: left;
						padding: 0 15px;
					}
					button.loginBtn.loginBtn-postads-free:after {
						content: "\f0fe";
						text-align: right;
						font-family: FontAwesome;
						font-size: 18px;
						padding-left: 10px;
					}
					.loginBtn.loginBtn-postads-free:hover,
					.loginBtn.loginBtn-postads-free:focus 					{
					  background-color: #f61818;
					  background-image: linear-gradient(#f61818, #cc0001);
					}

		/*------------------------End blog right --------------*/
/*--------------------End Tab Menu Top----------------------------------*/

/*--------------------Start Item By Category Home----------------------------------*/
.featured-slider-3 .ad-box{
	width:100% !important;
	padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px #ccc;
}
div.category {
    text-align: left;
}
div.category h4.title {
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 5px solid #0bb688;
}
span.label-show-all {
    text-align: right;
    float: right;
    font-size: 14px;
}
span.label-show-all a {
    color: #0bb688;
}
/*----item box---*/
div.ads-price ,
div.ads-title {
    clear: both;
    padding: 1px 5px;
	display: inline-block;
}
.ads-title {
    width: 65%;
}
div.ads-title h4 {
   padding-top:5px;
   min-height: 55px;
}
div.ads-price h4 ,
div.ads-title h4 {
    white-space: normal;
	line-height: 5px;
    margin: 0;
}
div.ads-title h4  a.ads-title{
	font-size: 13px;
    font-weight: 600;
	color: #0bb688;
	line-height: 18px;
}
div.ads-price {
	text-align: right;
	width: 33%;
    vertical-align: top;
    padding: 10px 0;
}
div.ads-price h4 a.ads-price {
    color: #ffffff;
    line-height: 18px;
    background: #0bb688;
	font-size: 12px;
    padding: 10px 8px;
	width: 100%;
}
div.notify-new {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 15px;
    right: 15px;
    min-width: 75px;
    line-height: 31px;
}
.notify-new.green {
	background: #0bb688;
}
.notify-new.blue {
    background: #0493ca;
}
.notify-new.red {
	background: #f61818;
}
.ads-img-wrapper {
    position: relative;
    overflow: hidden;
}
div.ad-box  .additional-buttons {
    padding: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(255,255,255,.85);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0,60px,0);
    -moz-transform: translate3d(0,60px,0);
    -ms-transform: translate3d(0,60px,0);
    transform: translate3d(0,60px,0);
    z-index: 1;
}
div.ad-box:hover  .additional-buttons {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sold-by-container {
    border-top: 1px solid #a3a3a3;
	margin-bottom: 15px;
	padding-top: 10px;
    width: 100%;
	font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,20px,0);
    -ms-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
span.quickview {
    position: relative;
    padding: 0;
	cursor: pointer;
	color: #0bb688;
    text-transform: none;
    margin: 0 0 0 10px;
    font-size: 15px;
}
span.quickview i {
    color: #0bb688;
    font-size: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sold-by-container a {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.sold-by-container span {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.sold-by-container span {
    color: #6d6c6c;
    text-transform: uppercase;
}
/*--------------------Start Footer----------------------------------*/
.footer-logo {
    text-align: center;
}
footer div.text-description {
    margin-top: 10px;
    text-align: justify;
    font-size: 14px;
}
/*--------------------End Footer----------------------------------*/
/*------Start Register page--------------------*/
span.regis-guid {
    text-align: right;
    float: right;
    font-size: 14px;
}
span.regis-guid  a {
    color: #ffffff;
	line-height: 23px;
}
.header-item.quick-menu {
    font-size: 0;
    text-align: right;
}
dl.language a.lang.km {
    margin-right: 2px;
}
.login-body {
    min-height: 472px;
	padding: 30px 0;
    background: url(../login-background.jpg) 50% 0% no-repeat;
}
.login-title h4 {
    margin: 0;
	text-align: left;
    padding: 10px;
}
.register-login-box {
    width: 490px;
    float: right;
    background-color: #FFF;
}
.formlogin-register {
    padding: 10px;
	margin-bottom: 30px;
	border: solid 1px #ccc;
}
.form-label {
    display: inline-block;
	width: 145px;
}
.form-value {
    display: inline-block;
    width: 300px;
    padding-left: 15px;
}
.form-value .form-control {
    display: initial;
}
.form-row.botton {
    text-align: center;
}
.form-row.botton .loginBtn.register {
	display: inline-block;
	width: 40%;
}
.form-row.botton h4 {
    display: inline-block;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}
.form-row.botton .loginBtn--facebook {
    width: 47%;
    display: inline-block;
}
span.regis-guid a:before {
    content: "\f059";
    font-family: FontAwesome;
    padding-right: 5px;
    font-size: 17px;
}
.form-row.botton p a.link {
    font-weight: bold;
    color: #08a379;
}
.form-row.botton p a.link:hover {
    color: #e78345;
}
/*------End Register page--------------------*/
/*------Start Dashboard page--------------------*/
.conten-body {
    display: block;
    text-align: center;
	margin: 20px 0;
}
	.conten-body-center,
	.conten-body-right,
	.conten-body-left {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}
	.conten-body-right {
		float:right;
	}
	.conten-body-left {
		float:left;
	}
	.conten-body-center{
		width:60%;
	}
	.conten-body-center.full{
		width:100%;
	}
	.conten-body-center.right{
		width:80%;
		float:right;
	}
	.conten-body-center.left{
		width:80%;
		float:right;
	}
	.conten-body-right,
	.conten-body-left {
		width:20%;
	}
	

ul.tabs.horizontal li {
    width: 100%;
	border-bottom: solid 4px #fff;
}
ul.tabs.horizontal li a {
    border-radius: 0;
    background: #069770;
	color: #fff;
	text-align: left;
    font-size: 16px;
    font-weight: bold;
}
ul.tabs.horizontal li a i {
    font-size: 18px;
    padding-right: 10px;
}
ul.tabs.horizontal li.active a:hover,
ul.tabs.horizontal li a:hover,
ul.tabs.horizontal li.active a:focus,
ul.tabs.horizontal li a:focus,
ul.tabs.horizontal li.active a {
    background: #fbfbfb;
    color: #0bb688 !important;
}
	/*------Start My ads list Dashboard page--------------------*/
		div.title h4 {
			margin: 0;
			font-weight: bold;
			padding-bottom: 10px;
		}
		div.title-ads h4 a {
			color: #07a178;
			font-weight: 700;
		}
		div.title-ads h4 a:hover {
			color: #e2c636;
		}
		div.title {
			text-align: left;
			padding: 0 10px;
			margin: 0;
			vertical-align: top;
		}
		.blog-wrapper {
			text-align: left;
			padding: 10px;
			margin: 0 10px;
			border: solid 1px #ccc;
		}
		.ads-left {
			vertical-align: top;
			display: inline-block;
			width: 222px;
			border: solid 1px #ccc;
		}
		.ads-description {
			display: inline-block;
			width: 60%;
			margin-left: 15px;
		}
		div.categories-ads h5 a {
			font-size: 14px;
			color: #909090;
			font-style: italic;
		}
		div.categories-ads h5 {
			padding: 10px 0px;
		}
		div.categories-ads h5,
		div.title-ads h4 {
			margin: 0;
		}
		.icon_menu-right {
			display: inline-block;
			vertical-align: top;
			float: right;
		}
		ul.icon_menu li {
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
		ul.icon_menu li a {
			position: relative;
			display: block;
			padding: 8px 20px;
			text-align: center;
			color: #545353;
			background: rgba(249, 246, 246, 0.6);
			border: solid 1px #ccc;
		}
		ul.icon_menu li a:hover {
			background: rgba(232, 232, 255, 1);
			color: #adadad;
		}
		/*li.delete_icon a {
			background: #cc1617;
		}
		li.edit_icon a {
			background: #3e58a4;
		}
		li.renew_icon a {
			background: #07a178;
		}*/
		.footer-ads span.value {
			font-weight: bold;
		}
		.footer-ads span i {
			padding: 0 10px;
		}
	/*------End My ads list Dashboard page--------------------*/
/*------End Dashboard page--------------------*/
.row_data {
    padding: 10px;
}
div.label_value,
div.label_name {
    display: inline-block;
	vertical-align: top;
}
.label_value {
    width: 70%;
}
div.label_name {
    min-width: 150px;
	margin-right: 20px;
}
.row_data label{
	color:#606060;
	font-size: 12px;
}
.row_data label span.right {
    float: right;
}
.row_data label.label {
    font-size: 12px;
    text-align: left;
	white-space: normal;
}

.data-info {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.account-image {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    background: #F9F9F6;
    min-height: 200px;
    margin: 0 10px;
	padding: 10px;
	border: solid 1px #eee;
}
.image-box {
    display: inherit;
    position: relative;
}
.image-box img {
    width: 150px;
    border-radius: 60%;
    height: 150px;
    margin-top: 10px;
	border: solid 1px #eee;
}

.button_browse {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38px;
    background: #fbf9f9;
    border: 1px solid #e8e8e8;
}
.button_browse span {
    line-height: 33px;
    font-weight: 600;
    cursor: pointer;
}
input.btn_borwse_image {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.profile-info .data-info div.title h4 {
	border-bottom: solid #069770 1px;
}
a.button {
    vertical-align: top;
    display: block;
    padding: 6px 20px;
    text-align: center;
    color: #545353;
    background: rgba(249, 246, 246, 0.6);
    border: solid 1px #ccc;
    font-size: 12px;
	cursor: pointer;
}

/*--------------------- Form Cancel Save Change Popup----------------------------*/
.pop-acc-info,
.pop-addtional {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pop-acc-info_content,
.pop-addtional_content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
/*----@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
} ----*/

/* The Close Button */
.close {
   color: #d10505;
	float: right;
	font-size: 19px;
	font-weight: bold;
	opacity: 1;
	line-height: 15px;
}
.pop-addtional_header,
.pop-acc-info_header{
	padding: 10px 16px;
	background-color: #F9F9F6;
	color: #605f5f;
	vertical-align: top;
	border-bottom: solid 1px #ccc;
}
.pop-addtional_body,
.pop-acc-info_body {
    padding: 10px;
}
.pop-addtional_header h2,
.pop-acc-info_header h2 {
    text-align: center;
	margin: 0;
	font-size: 16px;
}
.form-control.custom {
    padding: 5px 10px;
    height: 40px;
    margin-bottom: 0px;
}

/*--.cancel_save_chage_footer,
.make_save_chage_footer {
   padding: 10px 16px;
    background-color: #666666;
    color: white;
}--*/
/*-----------------------End Form Cancel Save Change Popup-----------------------------------------------*/